In [34]:
#imports
import pandas as pd
import json

### Use your API credentials to access the the Yelp api

In [2]:
#import yelp API credentials
import json
with open('/Users/thoma/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [3]:
# import the YelpAPI Class
from yelpapi import YelpAPI
# Create an instance with your key
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

### choose the location and search term (food), but it must return more than 20 results

In [25]:
# use our yelp_api variable's search_query method to perform our API call
search_results = yelp_api.search_query(location='Seattle',
                                       term='food')
print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [26]:
biz = pd.DataFrame(search_results['businesses'])
biz.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,UzL8_jvtznfsFDprG-O1UA,biang-biang-noodles-seattle-2,Biang Biang Noodles,https://s3-media1.fl.yelpcdn.com/bphoto/JYa1Xr...,False,https://www.yelp.com/biz/biang-biang-noodles-s...,581,"[{'alias': 'noodles', 'title': 'Noodles'}, {'a...",4.5,"{'latitude': 47.613937, 'longitude': -122.324239}","[pickup, delivery]",$$,"{'address1': '601 E Pike St', 'address2': 'Uni...",+12068098999,(206) 809-8999,1538.799926
1,jAgEaQUQMvGC2PsxYjBWOQ,katsu-ya-seattle-seattle,Katsu-ya Seattle,https://s3-media3.fl.yelpcdn.com/bphoto/TepKrk...,False,https://www.yelp.com/biz/katsu-ya-seattle-seat...,171,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.5,"{'latitude': 47.619252, 'longitude': -122.338099}",[delivery],$$,"{'address1': '122 Westlake Ave N', 'address2':...",+12065800080,(206) 580-0080,708.865841

In [27]:
## total number of matching businesses
search_results['total']

10600

In [28]:
## how many businesses in our results
len(search_results['businesses'])

20

In [29]:
# add offset to our original api call
search_results = yelp_api.search_query(location='Seattle',
                                       term='food',
                                       offset = 20)

In [30]:
biz20 = pd.DataFrame(search_results['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,vLkiMZl96vJvkMaXtUEr2g,skalka-seattle-4,Skalka,https://s3-media4.fl.yelpcdn.com/bphoto/ktq2hp...,False,https://www.yelp.com/biz/skalka-seattle-4?adju...,588,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.5,"{'latitude': 47.60491, 'longitude': -122.33769}","[delivery, pickup]",$$,"{'address1': '77 Spring St', 'address2': '', '...",+12064088169,(206) 408-8169,2283.117625
1,nwrKWcWG1_g8nyUaaUwqlA,tacos-chukis-seattle-5,Tacos Chukis,https://s3-media4.fl.yelpcdn.com/bphoto/huHHXR...,False,https://www.yelp.com/biz/tacos-chukis-seattle-...,496,"[{'alias': 'tacos', 'title': 'Tacos'}, {'alias...",4.5,"{'latitude': 47.6270336126469, 'longitude': -1...",[delivery],$,"{'address1': '832 Dexter Ave N', 'address2': '...",+12065189025,(206) 518-9025,525.687693

### Concatenate the results into one data frame

In [33]:
## concatenate the previous results and new results. 
businesses = pd.concat([biz, biz20],
                      ignore_index=True)
display(businesses.head(3), businesses.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,UzL8_jvtznfsFDprG-O1UA,biang-biang-noodles-seattle-2,Biang Biang Noodles,https://s3-media1.fl.yelpcdn.com/bphoto/JYa1Xr...,False,https://www.yelp.com/biz/biang-biang-noodles-s...,581,"[{'alias': 'noodles', 'title': 'Noodles'}, {'a...",4.5,"{'latitude': 47.613937, 'longitude': -122.324239}","[pickup, delivery]",$$,"{'address1': '601 E Pike St', 'address2': 'Uni...",+12068098999,(206) 809-8999,1538.799926
1,jAgEaQUQMvGC2PsxYjBWOQ,katsu-ya-seattle-seattle,Katsu-ya Seattle,https://s3-media3.fl.yelpcdn.com/bphoto/TepKrk...,False,https://www.yelp.com/biz/katsu-ya-seattle-seat...,171,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.5,"{'latitude': 47.619252, 'longitude': -122.338099}",[delivery],$$,"{'address1': '122 Westlake Ave N', 'address2':...",+12065800080,(206) 580-0080,708.865841

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
38,m7hqwHm3y-afNBsrPfHwww,tanoor-seattle-3,Tanoor,https://s3-media4.fl.yelpcdn.com/bphoto/TBcvpS...,False,https://www.yelp.com/biz/tanoor-seattle-3?adju...,129,"[{'alias': 'lebanese', 'title': 'Lebanese'}, {...",4.5,"{'latitude': 47.626933, 'longitude': -122.342599}",[delivery],$$,"{'address1': '803 Dexter Ave N', 'address2': N...",+12064575272,(206) 457-5272,555.979011
39,DzLycxXa20wdlYeTcyc5-A,dough-zone-international-district-seattle,Dough Zone - International District,https://s3-media2.fl.yelpcdn.com/bphoto/MaIHL5...,False,https://www.yelp.com/biz/dough-zone-internatio...,1255,"[{'alias': 'shanghainese', 'title': 'Shanghain...",4.0,"{'latitude': 47.5982, 'longitude': -122.32747}",[delivery],$$,"{'address1': '504 5th Ave S', 'address2': 'Ste...",+12062859999,(206) 285-9999,3096.487219

In [40]:
with open('example_saved_data.json','w') as f:
    json.dump(businesses, f)

TypeError: Object of type DataFrame is not JSON serializable